html, body{
    background: linear-gradient(45deg, purple, black);
    position: relative;
    padding: 0;

}
html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}
.menu{
    display: flex;
    margin-top: 70px;
    gap: 2rem;
    opacity: 0; /* Start hidden */
    transform: translateY(20px); /* Start with a slight offset */
    transition: opacity 1s ease, transform 0.6s ease;
}
a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.logo1{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
    opacity: 0; /* Start hidden */
    transform: translateY(20px); /* Start with a slight offset */
    transition: opacity 1s ease, transform 0.6s ease;
}
.intro{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.mee{
    height: 550px;
    border-radius: 50px;
    border: 5px solid white;
    box-shadow: 9px -1px 28px -7px;
    flex-grow: 1;
    flex-basis: 200;
    opacity: 10%; /* Start hidden */
    transform: translateY(20px); /* Start with a slight offset */
    transition: opacity 1s ease, transform 0.6s ease;
}
.aboutMe{
    width: 35%;
}
.aboutMeText{
    margin-top: 150px;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 300;
    flex-grow: 1;
    flex-basis: 200;
    color: white;
    opacity: 0; /* Start hidden */
    transform: translateY(20px); /* Start with a slight offset */
    transition: opacity 1s ease, transform 0.6s ease;
}
.highlight1{
    color: rgb(2, 27, 185);
    font-weight:bold;
}
.highlight2{
    color: yellow;
    font-weight: bold;
}

.highlight3{
    font-weight: bold;
}
.skills {
   display: flex;
   justify-content: center;
   gap: 2rem;
   width: 100%;
   
}
.skills_intro{
    display: flex;
    justify-content: center;
    margin-top:0px;
}
.skills_intro_title{
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 300;
    font-weight: bold;
}
.skills_intro_sub_title{
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 300;
}
.skills_section_container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 2rem;
    width: 100%;
}
#skills{
    margin-top: 100px;
}
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
    border-radius: 40px;
    margin-top: 2rem;
    width: 25%;
    opacity: 0; /* Start hidden */
    transform: translateY(20px); /* Start with a slight offset */
    transition: opacity 1s ease, transform 0.6s ease, box-shadow 1s ease;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
/* Expanded state for info-content */
.grid-item .info-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, opacity 0.6s ease;
    text-align: center;
}
.grid-item.active .info-content {
    max-height: 500px; /* Set a large enough max-height */
    opacity: 1;
}
.grid-item.active .skill_logo {
    transform: translateY(55px); /* Adjust this value as needed */
    margin-top: 30px;
}
.skill_logo {
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
    transition: transform 0.5s ease, margin-top 0.5s ease;
}

.grid-item.active .skill_title {
    opacity: 0; /* Hide the title when active */
}
.skill_title {
    font-size: 2rem;
    color: black;
    margin-top: 1rem;
    transition: opacity 0.3s ease;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}
.skill_title, .info-button {
    opacity: 1;
}
.info-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    
}
.info-button .text {
    display: inline-block;
    transition: opacity 0.9s ease-in-out;
}
.info-button.fade-out .text {
    opacity: 0;
}
.info-button:hover {
    background-color: #555;
    cursor: pointer;
}

.info-content {
    max-height: 0; /* Start collapsed */
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    font-size: 1rem;
    color: black;
    margin-top: 1rem;
    text-align: center;
    font-size: 2px;
}
.info-content p{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}
/* Expanded state for info-content */
.grid-item.active .info-content {
    max-height: 100%; /* Adjust as needed */
    opacity: 1;
}
.grid-item:hover {
    background-color: #525252;/* Slight box shadow on hover */
    transition: background-color 0.2s ease-in-out;
}
.skill_logo {
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
    transition: transform 0.5s ease, margin-top 0.5s ease;
}
.show {
    opacity: 1;
    transform: translateY(0);
}
.mentions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    width: 100%;
}
.mentions_title{
    color: white;
    font-family: "Montserrat", sans-serif;
}
.mentions_captions{
    color: white;
    font-family: "Montserrat", sans-serif;
    width: 30%;
    font-size:25px ;
    text-align: center;
}
.mentions_credentials{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mentions_credentials_container{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.company_logo_img1{
    height: 100px;
    
    
}
.company_logo_img2{
    height: 80px;
    margin-top: 10px;
    
}
.company_logo_img3{
    height: 100px;
  
}
.company_logo_img4{
    height: 100px;
    
}
.company_logo_img5{
    height: 50px;
    margin-top: 30px;
}
.company_logo_img6{
    height: 100px;
    
}
.company_logo_img7{
    height: 100px;
   
}
.company_logo_img8{
    height: 100px;
    
}
.company_logo_img9{
    height: 100px;
   
}
.company_logo{
    display: flex;
    border: solid 1px black;
   
    justify-content: center;
    border-radius: 20px;
    background-color: white;
    height: 100px;
}
.company_logos_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    grid-template-rows: repeat(3, 1fr); /* 3 equal rows */
    gap: 20px; /* Space between grid items */
    width: 90vw; /* Responsive width */
    height: 90vh; /* Responsive height */
    max-width: 600px; /* Maximum width */
    max-height: 600px; /* Maximum height */
    
}
.company_logos_container_container{
    display: flex
    ;
    justify-content: center;
   
}
.hidden {
    opacity: 0; /* Start with transparent */
    visibility: hidden; /* Hide element */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Fade effect */
}

/* Style for About Me and Projects sections */
#aboutMeSection {
    max-height: 0; /* Start collapsed */
    opacity: 0; /* Start hidden */
    visibility: hidden; /* Hidden initially */
    overflow: hidden; /* Hide overflowing content */
    transition: max-height 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
    border: 1px solid black;
    padding: 0 20px; /* Initial padding top/bottom set to 0 */
    margin-top: 100px;
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutMeSectionText p{
    color: white;
    width: 100%;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}
.aboutMeSectionTitle{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
}
.aboutMeSectionText{
    width: 50%;
    margin-top: 50px;
}
.imageAboutMe img{
    height: 500px;
    border-radius: 40px;
    margin-bottom: 100px;
}

.aboutMeSectionContent{
    display: flex;
    justify-content: space-evenly;
}
/* Button styles */
.get_to_know_me_button,
.view_my_projects_button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Added transform transition */
    position: relative;
    overflow: hidden;
    height: 50px;
    width: 300px;
    font-family: "Montserrat", sans-serif;
   
}

.get_to_know_me_button:hover {
    background-color: #555; /* Change color on hover */
}

.get_to_know_me_button:active {
    transform: scale(0.95); /* Scale down the button when clicked */
}


/* Call to action section style */
.call_to_action {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

/* About section style */
.about {
    position: relative;
}
.scroll-item {
    opacity: 0; /* Start invisible */
    transform: translateY(20px); /* Slightly lower */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Animation for showing */
}

.scroll-item.show {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to original position */
}
